<a href="https://colab.research.google.com/github/DuplamenteH/Machine-Learning/blob/master/Aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lendo dados da WEB e manipupando os mesmos

In [1]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head(5)

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

## Dividindo os dados

###Renomeando colunas e separando features

In [0]:
mapa = {
    "home":"inicio",
    "how_it_works":"como_funciona",
    "contact":"contato",
    "bought":"comprou"
}

dados=dados.rename(columns=mapa)

In [0]:
x = dados[["inicio","como_funciona","contato"]]
y = dados["comprou"]

###Separando treino e testes

In [4]:
from sklearn.model_selection import train_test_split
SEED = 20
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)

print("treino: %d ; teste: %d" % (len(treino_x), len(teste_x)))

treino: 74 ; teste: 25

##Treiando e Testando

In [0]:
from sklearn.svm import LinearSVC as LSVC
from sklearn.metrics import accuracy_score

In [6]:
modelo = LSVC()
modelo.fit(treino_x,treino_y)

previsoes = modelo.predict(teste_x)

acertos = accuracy_score(teste_y,previsoes)*100

print("Taxa de acertos foi de %.2f%%"% acertos)

print(treino_y.value_counts())
print("\n", teste_y.value_counts())

Taxa de acertos foi de 96.00%
0    47
1    27
Name: comprou, dtype: int64

 0    19
1     6
Name: comprou, dtype: int64

treino_y 2 pra 1 (para cada 2 pessoas 1 comprou)
teste_y 4 pra 1  (para cada 4 pessoas 1 comprou)

## Outros Teste

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                         random_state = SEED, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acur√°cia foi %.2f%%" % acuracia)
print(treino_y.value_counts())
print("\n",teste_y.value_counts())

Treinaremos com 74 elementos e testaremos com 25 elementos
A acur√°cia foi 96.00%
0    49
1    25
Name: comprou, dtype: int64

 0    17
1     8
Name: comprou, dtype: int64

treino_y 2 pra 1 (para cada 2 pessoas 1 comprou)
teste_y 2 pra 1  (para cada 2 pessoas 1 comprou)