<a href="https://colab.research.google.com/github/DuplamenteH/Machine-Learning/blob/master/Projeto1_NS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Carregando dados e ajustando os DataFrames

In [1]:
import pandas as pd 
uri = 'https://raw.githubusercontent.com/alura-cursos/machine-learning-algoritmos-nao-supervisionados/master/movies.csv'
filmes = pd.read_csv(uri)
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [2]:
renomear = {
    'movieId': 'filmesId',
    'title'  : 'titulo',
    'genres' : 'genero'
}

filmes = filmes.rename(columns=renomear)
filmes.head()

   filmesId  ...                                       genero
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
generos = filmes.genero.str.get_dummies(sep='|')

In [4]:
generos.head()

   (no genres listed)  Action  Adventure  ...  Thriller  War  Western
0                   0       0          1  ...         0    0        0
1                   0       0          1  ...         0    0        0
2                   0       0          0  ...         0    0        0
3                   0       0          0  ...         0    0        0
4                   0       0          0  ...         0    0        0

[5 rows x 20 columns]

In [5]:
dados_filmes = pd.concat([filmes,generos],axis=1)
dados_filmes.head()

   filmesId                              titulo  ... War  Western
0         1                    Toy Story (1995)  ...   0        0
1         2                      Jumanji (1995)  ...   0        0
2         3             Grumpier Old Men (1995)  ...   0        0
3         4            Waiting to Exhale (1995)  ...   0        0
4         5  Father of the Bride Part II (1995)  ...   0        0

[5 rows x 23 columns]

#Escalonando dados

In [0]:
from sklearn.preprocessing import  StandardScaler 
scaler = StandardScaler()

In [8]:
generos_Escalados = scaler.fit_transform(generos)

generos_Escalados.shape

(9742, 20)