<a href="https://colab.research.google.com/github/DuplamenteH/Machine-Learning/blob/master/TreeRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
path= "drive/My Drive/DadosAlura/"
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
from sklearn import tree
from sklearn.model_selection import train_test_split

In [4]:
filmes = pd.read_csv(path+"movies_multilinear_reg.csv",sep=',')
filmes.head()

   movieId                              Titulo  ...  Investimento   Bilheteria
0        1                    Toy Story (1995)  ...     11.048216  5623234.602
1        2                      Jumanji (1995)  ...     14.927678  5714951.757
2        3             Grumpier Old Men (1995)  ...     27.114597  9524339.124
3        4            Waiting to Exhale (1995)  ...      4.994242  6331568.779
4        5  Father of the Bride Part II (1995)  ...     19.142246  6409617.277

[5 rows x 18 columns]

In [5]:
filmes_caract = filmes[filmes.columns[2:17]]
filmes_caract.head()

   Documentary  Sci-Fi  Mystery  ...  Adventure     Duracao  Investimento
0            0       0        0  ...          1  103.468310     11.048216
1            0       0        0  ...          1  112.337916     14.927678
2            0       0        0  ...          0  116.245732     27.114597
3            0       0        0  ...          0  120.317732      4.994242
4            0       0        0  ...          0  110.023572     19.142246

[5 rows x 15 columns]

In [6]:
filmes_labels = filmes[filmes.columns[17:]]
filmes_labels

        Bilheteria
0     5.623235e+06
1     5.714952e+06
2     9.524339e+06
3     6.331569e+06
4     6.409617e+06
...            ...
9120  6.318999e+06
9121  5.300340e+06
9122  6.945211e+06
9123  6.459004e+06
9124  1.063624e+07

[9125 rows x 1 columns]

In [0]:
treino, teste, treino_labels, teste_labels = train_test_split(filmes_caract,filmes_labels,test_size=0.3)

In [10]:
len(treino)/len(filmes_caract)

0.699945205479452

In [0]:
treino = np.array(treino).reshape(len(treino),15)

In [0]:
teste = np.array(teste).reshape(len(teste),15)

In [0]:
treino_labels = np.array(treino_labels).reshape(len(treino_labels),1)
teste_labels = np.array(teste_labels).reshape(len(teste_labels),1)

In [0]:
modelo = tree.DecisionTreeRegressor( max_depth=5)

In [28]:
modelo.fit(treino,treino_labels)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=5,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [29]:
modelo.score(treino, treino_labels)

0.8070868090418348

In [30]:
modelo.score(teste,teste_labels)

0.785886176436605